RewriteEngine On

# Remove 'page' from URLs and serve .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ page/$1.html [L]

# Set custom 404 error page
ErrorDocument 404 /404.html
