RewriteEngine On

# Remove 'page/' from URLs
RewriteCond %{REQUEST_URI} ^/page/(.+)$
RewriteRule ^page/(.*)$ /$1 [L,R=301]

# Rewrite URLs to serve .html files without extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html

# Redirect non-existing files and directories to trailing slash version
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

# Custom 404 Page
ErrorDocument 404 /404.html
